In [1]:
import pandas as pd

df = pd.read_csv("data/final_doorcodes.csv")

df["address_entrance"].fillna(0, inplace=True)

df.head()

,address_city,address_street,address_house,address_entrance,location_longitude,location_latitude,codes_list
0,Moscow,Anatoliya Zhivova Street,3,3,37.554043,55.759481,к26к4682
1,Moscow,Beskudnikovsky Boulevard,25к4,1,37.554936,55.869445,32к4999
2,Moscow,Dubravnaya Street,40к2,5,37.352310,55.845529,827к7552
3,Moscow,Kedrova Street,5,1,37.566770,55.686304,121*3124
4,Moscow,Lobnenskaya Street,13к1,1,37.529003,55.889542,#2938#

In [72]:
df.columns.values

array(['address_city', 'address_street', 'address_house',
       'address_entrance', 'location_longitude', 'location_latitude',
       'codes_list'], dtype=object)

In [7]:
# from sqlalchemy import create_engine
import psycopg2

postgre_conn = psycopg2.connect(
    host="localhost", dbname="y_eda_db", user="postgres", password="password"
)

postgre_conn.autocommit = True
postgre_cursor = postgre_conn.cursor()


# alchemy_engine = create_engine("postgresql://postgres:password@localhost:5432/y_eda_db")
# alchemy_conn = alchemy_engine.connect()

In [16]:
# recreate postgresql db

postgre_cursor.execute("drop table if exists y_eda_data")
postgre_cursor.execute(
    """
CREATE TABLE y_eda_data (
    address_city varchar (100),
    address_street varchar (150),
    address_house varchar (50),
    address_entrance integer,
    location_longitude real,
    location_latitude real,
    codes_list varchar(100)
)
"""
)

# df.to_sql('y_eda_data', alchemy_conn, if_exists='replace', index=False)

In [19]:
# add calculation func

postgre_cursor.execute(
    """
CREATE OR REPLACE FUNCTION calculate_distance(lat1 float, lon1 float, lat2 float, lon2 float, units varchar)
RETURNS float AS $dist$
    DECLARE
        dist float = 0;
        radlat1 float;
        radlat2 float;
        theta float;
        radtheta float;
    BEGIN
        IF lat1 = lat2 OR lon1 = lon2
            THEN RETURN dist;
        ELSE
            radlat1 = pi() * lat1 / 180;
            radlat2 = pi() * lat2 / 180;
            theta = lon1 - lon2;
            radtheta = pi() * theta / 180;
            dist = sin(radlat1) * sin(radlat2) + cos(radlat1) * cos(radlat2) * cos(radtheta);

            IF dist > 1 THEN dist = 1; END IF;

            dist = acos(dist);
            dist = dist * 180 / pi();
            dist = dist * 60 * 1.1515;

            IF units = 'K' THEN dist = dist * 1.609344; END IF;
            IF units = 'N' THEN dist = dist * 0.8684; END IF;

            RETURN dist;
        END IF;
    END;
$dist$ LANGUAGE plpgsql;
"""
)

In [17]:
postgre_cursor.execute("select count(*) from y_eda_data")
postgre_cursor.fetchall()

[(156594,)]

In [58]:
df[["location_longitude", "location_latitude"]].iloc[0].values

array([37.554043, 55.759481])

In [61]:
# longitude - долгота

# geo from data
# lat       lon
data_geo = df[["location_longitude", "location_latitude"]].iloc[0].values

# Vlad's geo
# lon       lat
my_geo = 37.602188, 55.82447

# lat1 lon1 lat2 lon2
postgre_cursor.execute(
    "select calculate_distance({}, {}, {}, {}, '{}')".format(
        *my_geo[::-1], *data_geo, "M"
    )
)

postgre_cursor.fetchone()[0]

1517.5657849912857

In [80]:
def point_search(
    postgre_conn, lat: float, lon: float, result_count: int = 10
) -> pd.DataFrame:

    with postgre_conn.cursor() as cursor:

        cursor.execute(
            """
            select 
                address_city, 
                address_street, 
                address_house, 
                address_entrance, 
                codes_list,
                calculate_distance(
                    location_latitude, 
                    location_longitude, 
                    {}, {}, 'M'
                ) as distance
            
            from y_eda_data

            order by distance

            limit {}
            """.format(
                lat, lon, result_count
            )
        )

        return pd.DataFrame(
            cursor.fetchall(),
            columns=(
                "address_city",
                "address_street",
                "address_house",
                "address_entrance",
                "codes_list",
                "distance",
            ),
        )


point_search(postgre_conn, *my_geo[::-1], result_count=5)

,address_city,address_street,address_house,address_entrance,codes_list,distance
0,Москва,Ботаническая улица,9,3,54к4434\n50к9209\n56к8484,0.023650
1,Москва,Ботаническая улица,9,1,17к4024\n18к5955\n6к1650\n14к5672\n8к2149\nкод...,0.023776
2,Москва,Ботаническая улица,9,2,37к7736\n26к9709\n33к2971\n33k2971\n25к96876\n...,0.025731
3,Москва,Ботаническая улица,9,0,17к4024,0.027957
4,Москва,Ботаническая улица,7,3,52к3419\n51к0847\n90к0485\n56к9129\n43k6028,0.032811