In [4]:
import sqlite3

connection = sqlite3.connect('final_doorcodes.db')

In [19]:
from datetime import datetime

datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2023-09-04 01:03:10'

In [13]:
def add_log(connection, date_str, user_tg_id, location_longitude, location_latitude):

    # global SQLITE3_CONECTION

    cursor = connection.cursor()

    
    cursor.execute("""
        insert into users_log (date, user_tg_id, location_longitude, location_latitude)
        values ("{}", "{}", {}, {})
        """.format(date_str, user_tg_id, location_longitude, location_latitude)
    )

    connection.commit()
    cursor.close()

add_log(connection=connection, 
    date_str='hello worf', 
    user_tg_id='123455', 
    location_longitude=13.55, 
    location_latitude=15.33
)

        insert into users_log (date, user_tg_id, location_longitude, location_latitude)
        values ("hello worf", "123455", 13.55, 15.33)

In [17]:
# cursor = connection.cursor()

# print(cursor.execute('select * from users_log').fetchall())
# cursor.close()

# cursor = connection.cursor()

# cursor.execute('delete from users_log where location_latitude=15.33')
# connection.commit()
# cursor.close()

[]

In [5]:
# create and fill users log table

cursor = connection.cursor()

cursor.execute(
    """
    CREATE TABLE users_log (
        date varchar (19),
        user_tg_id varchar (15),
        location_longitude real,
        location_latitude real
    )
    """
    )

connection.commit()
cursor.close()

In [ ]:
# create and fill data table

import pandas as pd

df = pd.read_csv('data/final_doorcodes.csv')
cursor = connection.cursor()

cursor.execute(
        """
    CREATE TABLE y_eda_data (
        address_city varchar (100),
        address_street varchar (150),
        address_house varchar (50),
        address_entrance integer,
        location_longitude real,
        location_latitude real,
        codes_list varchar(100)
    )
    """
    )

connection.commit()
cursor.close()

df.to_sql(
    name='y_eda_data',
    con=connection,
    if_exists='replace',
)

In [2]:
from back.sqlite3_manager import sqlite3_manager_init, SQLITE3_CONECTION, calculate_distance

import os

BASE_DIR = os.getcwd()
SQLITE3_CONECTION = sqlite3_manager_init(BASE_DIR)

calculate_distance(1, 2)

,address_city,address_street,address_house,address_entrance,codes_list,distance
0,Тель-Авив,улица Хаконгрес,33,None,code: 2707,4.875886e+06
1,Анапа,Крутой проезд,4,None,9978#,5.990014e+06
2,Анапа,улица Ивана Голубца,147,1,#1482,5.990015e+06
3,Анапа,улица Ивана Голубца,147,6,#6248,5.990029e+06
4,Анапа,улица Ивана Голубца,147/3,6,#6248,5.990029e+06
5,Анапа,Таманская улица,121к11,1,#2460 код,5.990052e+06
6,Анапа,Таманская улица,121к15,1,2460,5.990054e+06
7,Анапа,Таманская улица,121к14,1,#2460\n#1212,5.990079e+06
8,Анапа,улица Ивана Голубца,147/2,4,#4386,5.990097e+06
9,Анапа,Таманская улица,121к10,1,#2460\n#1212,5.990103e+06

In [3]:
cursor = SQLITE3_CONECTION.cursor()

cursor.execute("select calculate_distance(?, ?, ?, ?)", (1, 1, 10, 10)).fetchall()

[(1412857.1406171925,)]

In [16]:
# def calculate_distance(lat: float, lon: float, result_count: int = 10) -> pd.DataFrame:

#     global SQLITE3_CONECTION

#     cursor = SQLITE3_CONECTION.cursor()
    
#     sql_str = """
#         select 
#             address_city, 
#             address_street, 
#             address_house, 
#             address_entrance, 
#             codes_list,
#             calculate_distance(
#                 location_latitude, 
#                 location_longitude, 
#                 {}, {}
#             ) as distance
        
#         from y_eda_data

#         order by distance

#         limit {};
#         """.format(
#             lat, lon, result_count
#         )
#     print(sql_str)
#     cursor.execute(sql_str)

#     result = cursor.fetchall()
#     cursor.close()

#     return pd.DataFrame(
#         result,
#         columns=(
#             "address_city",
#             "address_street",
#             "address_house",
#             "address_entrance",
#             "codes_list",
#             "distance",
#         ),
#     )

# # calculate_distance(1, 1)